<p>summary works!</p>
<div class="container-fluid">
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Total Cases</th>
                <th>confirmedCasesIndian</th>
                <th>confirmedCasesForeign</th>
                <th>discharged</th>
                <th>deaths</th>
            </tr>
        </thead>
        <tbody>

            <ng-container *ngFor="let case of items;let i=index">
               <tr *ngIf="i==0">
                  <td>{{case.total}}</td>
                  <td>{{case.confirmedCasesIndian}}</td>
                  <td>{{case.confirmedCasesForeign}}</td>
                  <td>{{case.discharged}}</td>
                  <td>{{case.deaths}}</td>
               </tr>
            </ng-container>
        </tbody>
    </table>
</div>


