<div class="topnav" id="myTopnav">
  <a routerLink="total" routerLinkActive="active" id="a1">Home</a>
  <a routerLink="summary" routerLinkActive="active" id="mya">Total Cases</a>
</div>
<div class="row">
  <div class="col-sm-2 sidebar">
      <a routerLink="total" routerLinkActive="active">State Wise Cases</a>
       <a routerLink="andhrapradesh" routerLinkActive="active">Andhra Pradesh</a>
       <a routerLink="assam" routerLinkActive="active">Assam</a>
       <a routerLink="bihar" routerLinkActive="active">Bihar</a>
       <a routerLink="chattisgarh" routerLinkActive="active">Chattisgarh</a>
       <a routerLink="delhi" routerLinkActive="active">Delhi</a>
       <a routerLink="goa" routerLinkActive="active">Goa</a>
       <a routerLink="gujarath" routerLinkActive="active">Gujarath</a>
       <a routerLink="haryana" routerLinkActive="active">Haryana</a>
       <a routerLink="jammu-kashmir" routerLinkActive="active">Jammu and Kashmir</a>
       <a routerLink="karnataka" routerLinkActive="active">Karnataka</a>
       <a routerLink="kerala" routerLinkActive="active">Kerala</a>
       <a routerLink="madhya-pradesh" routerLinkActive="active">Madhya Pradesh</a>
       <a routerLink="maharashtra" routerLinkActive="active">Maharashtra</a>
       <a routerLink="odisha" routerLinkActive="active">Odisha</a>
       <a routerLink="punjab" routerLinkActive="active">Punjab</a>
       <a routerLink="rajasthan" routerLinkActive="active">Rajasthan</a>
       <a routerLink="tamil-nadu" routerLinkActive="active">Tamil Nadu</a>
       <a routerLink="telangana" routerLinkActive="active">Telangana</a>
       <a routerLink="uttar-pradesh" routerLinkActive="active">Uttar Pradesh</a>
       <a routerLink="west-bengal" routerLinkActive="active">West Bengal</a>
  </div>
  <div class="col-sm-10">
       <router-outlet></router-outlet>
  </div>
</div>
<!-- <app-total></app-total> -->